body::after {
	content: "";
	background: rgba(0, 0, 0, 0.50);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.3s ease 0s;
	pointer-events: none;
	z-index: 149;
}

.popup-show body::after {
opacity: 1;
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;
	z-index: 999;
}

.popup__close {

	@include adaptiveValue("right", 38, 20);
	@include adaptiveValue("top", 47, 20);
	position: absolute;
	z-index: 900;

	svg {
		width: rem(19);
		height: rem(19);
	}

	.thanks-popup__content &,
	.policy-popup & {
		@include adaptiveValue("right", 30, 20);
		@include adaptiveValue("top", 30, 20);
	}
}

.popup_show {
	z-index: 500;
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
}

.popup_show .popup__content {
	visibility: visible;
	transform: scale(1);
}

.popup__wrapper {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	width: 100%;
	justify-content: center;
	align-items: center;
	min-height: 100%;

	// position: relative;
	// top: 0;
	// left: 0;
	// width: 100%;
	// // height: 100%;
	// z-index: 1001;
}

.popup__content {
	visibility: hidden;
	// min-height: 100%;
	transform: scale(0);
	transition: transform 0.3s ease 0s;
	background-color: $bodyColor;
	width: 100%;
	max-width: rem(1920);
	@include adaptiveValue("padding-top", 0, 30);
	@include adaptiveValue("padding-bottom", 25, 20);
	position: relative;

	&::before {
		content: '';
		position: absolute;
		background: url('@img/quize-bg.jpg');

		// background-size: cover;
		background-repeat: no-repeat;
		background-position: left top;
		width: 100%;
		height: 100%;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		mix-blend-mode: darken;
		z-index: -1;
		opacity: .4;
	}

	// .lock & {
	// 	visibility: visible;
	// }
}

.thanks-popup {

	&__content {
		@include adaptiveValue("padding-top", 90, 60);
		padding-left: rem(32);
		@include adaptiveValue("width", 685, 309);
		// background: linear-gradient(270deg, #272B30 0%, rgba(39, 43, 48, 0.39) 100%);
		background-color: #272B30;

		&::before {
			display: none;
		}
	}

	&__body {
		position: relative;
	}

	&__header {
		max-width: rem(447);
		margin: 0 auto;
	}

	&__title {
		@include adaptiveValue("margin-bottom", 48, 28);
	}

	&__title,
	&__subtitle {

		color: #fff;
		text-align: left !important;
	}

	&__image {
		position: relative;
		bottom: rem(-24);
		max-width: 100%;
	}
}

.policy-popup {

	&__content {
		max-width: rem(1400);
		@include adaptiveValue("padding-top", 92, 60);
		@include adaptiveValue("padding-right", 119, 22);
		@include adaptiveValue("padding-left", 119, 22);
		@include adaptiveValue("padding-bottom", 92, 28);
		background-color: #272B30;

		&::before {
			display: none;
		}
	}

	&__title {
		@include adaptiveValue("margin-bottom", 42, 26);

		font-size: rem(24);
		font-weight: 500;
		color: #fff;
		letter-spacing: 2.4px;
	}

	&__text {
		overflow: auto;
		@include adaptiveValue("padding-right", 33, 11);

		max-height: rem(640);

		@include adaptiveValue("font-size", 18, 14);
		font-weight: 400;
		line-height: 120%;

		&::-webkit-scrollbar {
			width: rem(8);

			@media (max-width:$mobile) {
				width: rem(6);
			}
		}

		&::-webkit-scrollbar-track {
			background-color: #4C5661;
			border-radius: rem(4);
		}

		&::-webkit-scrollbar-thumb {
			border-radius: rem(4);
			background-color: #00F0FF;
		}

		p {
			&:not(:last-child) {
				@include adaptiveValue("margin-bottom", 28, 22);
			}
		}
	}
}