.title {
  @include adaptiveValue("font-size", 50, 30);
  color: #FFF;
  font-weight: 700;
  text-align: center;
  line-height: 120%;
  text-transform: uppercase;
}

.subtitle {
  @include adaptiveValue("font-size", 24, 18);
  text-align: center;
  font-weight: 400;
  line-height: 120%;
}

.span-color {
  color: #45AEF5;
}

.decore-ellipse {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;

  @media (max-width: em(600)) {
    display: none;
  }
}

.back-image {
  position: absolute;
}

.back-image_1 {
  bottom: rem(-170);
  right: rem(-50);

  @media (max-width:$tablet) {
    display: none;
  }
}

.back-image_2 {
  bottom: -226px;
  left: -74px;

  @media (max-width:$tablet) {
    display: none;
  }
}

.back-image_3 {
  bottom: -166px;
  left: 36px;

  @media (max-width:em(1800)) {
    display: none;
  }
}


@keyframes moving {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg)
  }
}

[anim-up-down] {
  // transform: translate(rem(0), rem(20));
  transform: translate(rem(0), rem(30));
  opacity: 0;
  transition: all $animSpeed ease 0s;

  &._watcher-view {
    transform: none;
    opacity: 1;
  }
}

[delay10] {
  transition: all $animSpeed ease .1s;
}

[delay20] {
  transition: all $animSpeed ease .2s;
}

[delay30] {
  transition: all $animSpeed ease .3s;
}

[delay40] {
  transition: all $animSpeed ease .4s;
}

[delay50] {
  transition: all $animSpeed ease .5s;
}

[delay60] {
  transition: all $animSpeed ease .6s;
}

[delay70] {
  transition: all $animSpeed ease .7s;
}

[delay80] {
  transition: all $animSpeed ease .8s;
}

[delay120] {
  transition: all $animSpeed ease 1.2s;
}


@keyframes zoomIN {
  0% {
    opacity: 0;
    transform: scale(1.6)
  }

  26% {
    opacity: 0
  }

  37% {
    opacity: 1
  }

  to {
    opacity: 1;
    transform: scale(1)
  }
}
