.devices {
  position: relative;

}

.item-devices {

  /* .item-devices__img */
  &__img {
    @include adaptiveValue("margin-bottom", 40, 26);
    align-self: center;

    img {
      max-width: 100%;
    }
  }
}