.equipment {
  position: relative;
  @include adaptiveValue("padding-top", 164, 61);
  @include adaptiveValue("padding-bottom", 65, 80, 1920, 767, 1);

  @media (max-width:$mobile){
     padding-bottom: toRem(100) !important; 
  }

  &::before {
    content: '';
    position: absolute;
    // background: url('@img/equipment-bg2.jpg');
    background: url('@img/intro-keep.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top 0;
    inset: 0;
    transform: scale(-1, 1);
    mix-blend-mode: darken;
    z-index: -1;
  }

  /* .equipment__container */
  &__container {
    display: grid;
    grid-template-columns: 1fr 46.78%;
    row-gap: rem(20);

    @media (max-width:$mobile) {
      grid-template-columns: auto;
      gap: rem(50);
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;

    @media (min-width:em(1560)) {
      margin-left: rem(-140);
    }

    @media (max-width:$mobile) {
      grid-row-start: 2;
    }
  }

  &__main-img {
    position: relative;
    z-index: 20;
    @include adaptiveValue("width", 360, 200);

    @media (max-width: em(1560)) {
      max-width: 100%;
    }

    @media (max-width:$mobile) {
      max-width: 89%;
    }
  }

  &__back-img {
    position: absolute;
    animation: moving 3s infinite linear;
    @include adaptiveValue("width", 760, 308);
    z-index: 1;
  }

  &__wave-img {
    position: absolute;
    z-index: 40;
    max-width: 100%;
  }

  &__decor {
    right: -10%;
    top: -30%;
  }

  /* .equipment__title */
  &__title {
    max-width: rem(630);
    @include adaptiveValue("margin-bottom", 47, 31);

    text-align: left;
  }

  /* .equipment__subtitle */
  &__subtitle {
    @include adaptiveValue("margin-bottom", 56, 31);

    text-align: left;

  }

  /* .equipment__text */
  &__text {
    max-width: rem(648);
    @include adaptiveValue("font-size", 18, 14);
    font-weight: 400;
    line-height: 120%;

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 27, 21);
    }

    /* .equipment__text_white */
    &_white {
      font-weight: 600;
      color: #fff;
    }
  }
}