//========================================================================================================================================================

.header {
	@include adaptiveValue("padding-top", 55, 16);
	@include adaptiveValue("padding-bottom", 55, 16);
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 100;

	transition: all 0.3s ease 0s;

	/* .header__container */
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&._header-bg {
		background-color: $bodyColor;
		padding: rem(10) 0;

		@media (min-width:$tablet) {
			backdrop-filter: blur(rem(3));
		}
	}

	&._hide {
		@media (min-width:$tablet) {
			transform: translateY(-50px);
		}

		opacity: 0;
	}

	&__logo {
	}

	&__contacts {
		display: grid;
		row-gap: rem(5);
		text-align: right;

		@media (max-width:$tablet) {
			justify-items: center;
			margin-right: 13%;
			// grid-auto-flow: column;
		}

		@media (max-width: em(640)) {
			margin-right: 0;
			row-gap: rem(15);
		}
	}

	&__whatsapp {
		transition: all 0.3s ease 0s;

		svg {
			path {
				transition: all 0.3s ease .0s;
			}
		}

		&:hover {
			color: #43d854;

			svg {
				path {
					fill: #43d854;
				}
			}
		}
	}

	&__label {
		font-size: rem(10);
		font-weight: 600;
		letter-spacing: rem(.5);
		line-height: math.div(12, 10);
		text-transform: uppercase;
		text-align: center;
	}

	&__whatsapp {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: rem(10);

		font-size: rem(18);
		font-weight: 500;
		color: #A156BA;
		letter-spacing: rem(.9);
		text-transform: uppercase;
	}
}

.menu {
	padding: 0 rem(10); // отступы безопасности

	/* .menu__body */
	&__body {
		display: flex;
		align-items: center;
		text-align: center;

		@media (max-width:$tablet) {
			z-index: -999;
			z-index: auto;
			position: fixed;
			display: flex;
			flex-direction: column;
			width: 73.05vw;
			height: 105%;
			row-gap: rem(30);

			top: rem(-10);
			right: -100%;
			padding-left: rem(15);
			padding-right: rem(15);
			padding-bottom: rem(60);
			padding-top: rem(70);

			visibility: hidden;
			opacity: 0;
			overflow: auto;

			transition: all .8s ease 0s;
			background: linear-gradient(270deg, #272B30 0%, #1F2326 100%);

			.menu-open & {
				visibility: visible;
				z-index: 900;
				opacity: 1;
				right: 0;

				&::before {
					top: 0;
				}
			}
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		@include adaptiveValue("column-gap", 50, 15);

		@media (max-width:$tablet) {
			flex-direction: column;
			row-gap: rem(68);
			margin-bottom: rem(62);
			text-align: center;
		}
	}

	/* .menu__item */
	&__item {}

	/* .menu__link */
	&__link {
		font-size: rem(10);
		font-weight: 600;
		line-height: math.div(12, 10);
		letter-spacing: rem(.8);
		color: $titleColor;
		text-transform: uppercase;

		transition: color 0.3s ease 0s;

		@media (max-width: $tablet) {
			font-size: rem(16);
			line-height: math.div(19.5, 16);
		}

		&:hover {
			color: $hoverColor ;
		}

	}
}

//====================================================================================================

//Burger

.icon-menu {
	display: none;

	@media (max-width: $tablet) {
		display: block;
		position: relative;
		width: rem(21);
		height: rem(20);
		cursor: pointer;
		z-index: 999;

		span,
		&::before {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: rem(3);
			border-radius: rem(2);
			background-color: #fff;
		}

		&::before {
			top: rem(6);
		}

		span {
			top: 70%;
		}

		.menu-open & {

			span,
			&::before {
				top: 48%;
				left: -27%;
				width: rem(22);
				height: rem(3);
			}

			&::before {
				transform: rotate(-45deg);
			}

			span {
				transform: rotate(45deg);
			}
		}
	}
}