.wpcf7-radio:nth-child(2)+label {
  display: none;
}

// .wpcf7-radio:nth-child(2) input[type="radio"]+span:before {
//   display: none;
// }


// Бэкграунд радио кнопки
.wpcf7-radio input[type="radio"]+span:before {

  ._def & {

    display: block;
    position: absolute;
    content: '';

    @include adaptiveValue("height", 47, 30);
    @include adaptiveValue("width", 47, 30);

    border-radius: 50%;
    left: 0;

    top: 50%;
    transform: translate(0, -50%);
    background-color: transparent;
    border: rem(1) solid #2C4A67;
  }

  .wpcf7-list-item-label {
    ._swither & {
      color: #fff;
    }
  }

  ._swither & {
    display: block;
    position: absolute;
    content: '';
    left: 0;

    top: 50%;
    transform: translate(-8%, -50%);
    background: url('@img/icons/back-swither.svg') left top no-repeat;
    width: 180%;
    height: rem(30);
    z-index: -2;
  }

}

.wpcf7-radio-m input[type="radio"]+span:before {

  transform: scale(-1, 1) translate(10%, -50%) !important;
}

// .wpcf7-radio input[type="radio"]+span:after {
//   position: absolute;
//   content: '';
//   display: block;
//   // left: rem(20);

//   // top: 50%;
//   // transform: translate(0, 50%);

//   background-color: transparent;
//   // visibility: hidden;
//   // transition: all .2s ease-in 0s;
// }

.wpcf7-radio input[type=radio]:checked+.wpcf7-list-item-label {

  ._swither & {
    color: #28333E;
  }

}

// Галочка при нажатии на кнопку
.wpcf7-radio input[type=radio]:checked+span:before {

  ._def & {
    background: url('@img/icons/check-quiz.svg') center center no-repeat;

    @media (max-width:$mobile) {
      background: url('@img/icons/check-quiz-min.svg') center center no-repeat;
    }
  }

  ._swither & {
    background: url('@img/icons/back-swither-check.svg') center center no-repeat;
    z-index: -1;
  }

  // visibility: visible;
}

// Прячем нативные кнопки RADIO
.wpcf7-radio input[type=radio] {
  position: relative;
  visibility: hidden;
}

.wpcf7-radio label {
  position: relative;
  cursor: pointer;
}

// Текст радио кнопки
.wpcf7-list-item-label {
  @include adaptiveValue("margin-left", 67, 54);

  font-size: rem(14);
  font-weight: 500;
  line-height: 120%;
  letter-spacing: rem(1.4);


  ._swither & {
    margin-left: 0;
    color: #3B638B;
    font-weight: 600;
  }
}

.wpcf7-list-item {
  position: relative;
  // display: inline-block;

  &::before {
    content: '';
    position: absolute;
    background-color: #2C4A67;
    width: rem(14);
    height: rem(1);
    @include adaptiveValue("left", 57, 43);
    top: 50%;
  }

  ._swither & {
    &::before {
      content: '';
      display: none;
    }
  }

}

.quiz-form {
  padding-top: rem(32);
  min-height: 100%;

  &__header {
    @include adaptiveValue("margin-bottom", 54, 40);
  }


  &__title {
    @include adaptiveValue("margin-bottom", 32, 17);
  }

  &__subtitle {
    margin: 0;
    @include adaptiveValue("font-size", 24, 16);

    .quiz-form__buttons_half & {
      span {
        &:first-child {
          margin-bottom: rem(15);
          display: block;
          font-weight: inherit;
          color: inherit;
        }
      }
    }
  }

  &__name {
    font-size: rem(18);
    font-weight: 700;
    color: #fff;
    line-height: 120%;
  }

  &__fieldset {
    flex: 1 1 auto;
    min-height: 100%;

    opacity: 0;
    position: absolute;
    z-index: -20;
    transition: all 0.6s ease 0s;
    // transform: translate(-100%, 0px);
    transform: scale(.8);

    &._active {
      opacity: 1;
      position: relative;
      z-index: 100;
      transform: scale(1);
      // transform: translate(0px, 0px);
    }
  }

  &__form {
    margin: 0 auto;
    @include adaptiveValue("width", 685, 320);

    @media (min-width:$mobileSmall) {
      margin: 0 auto rem(70) auto;
    }
  }

  &__body {
    opacity: 0;
    transform: scale(.8);

    ._active & {
      opacity: 1;
      transform: scale(1);
    }
  }

  &__item {
    position: relative;
    text-align: center;
    transition: all 0.5s ease 0s;
  }

  &__image {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    @include adaptiveValue("margin-bottom", 45, 27);
    @include adaptiveValue("width", 289, 170);
    @include adaptiveValue("height", 289, 170);

    background: linear-gradient(196deg, #196FC5 0%, #7F3F96 100%);
    border-radius: 50%;

    &_office {
      img {
        width: rem(295);
        @include adaptiveValue("width", 295, 153);
      }
    }

    &_apartments {
      img {
        @include adaptiveValue("width", 366, 170);
        top: -10%;

        @media (max-width: em(600)) {
          top: -2%;
        }
      }
    }

    &_cars {
      img {
        @include adaptiveValue("width", 400, 188);
        top: 16%;
      }
    }

    &_yachts {
      img {
        @include adaptiveValue("width", 380, 174);
        top: 20%;
      }
    }

    &_planes {
      img {
        @include adaptiveValue("width", 350, 165);
      }
    }

    img {
      position: absolute;
      transition: all 0.5s ease 0s;
      filter: drop-shadow(3px 25px 15px #272B30);
    }
  }

  &__line {
    margin: 0 auto;
    // .quiz-form__block_swither & {
    //   width: rem(327);
    // }
  }

  &__label {
    display: block;
    margin-bottom: rem(15);

    font-size: rem(14);
    color: #fff;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 1.4px;
  }


  &__block {
    display: grid;

    @media (min-width:$mobileSmall) {
      justify-items: center;
    }

    &_swither {
      display: flex;
      align-items: center;
      gap: rem(30);
      @include adaptiveValue("margin-top", 60, 35);
      text-align: left;

      @media (min-width:$mobileSmall) {
        justify-content: center;
      }
    }
  }

  &__options {

    display: grid;
    @include adaptiveValue("gap", 38, 19);
    @include adaptiveValue("margin-top", 48, 30);

    &._swither {
      grid-template-columns: 1fr 1fr;
      gap: rem(6);
      margin-top: rem(34);

      @media (max-width:$mobileSmall) {
        position: absolute;
        @include adaptiveValue("right", 100, 20);
      }
    }
  }

  &__content {}


  &__buttons {
    display: flex;
    @include adaptiveValue("margin-top", 36, 48);
    @include adaptiveValue("margin-bottom", 94, 41);
    justify-content: space-between;

    &_first {
      justify-content: end;
      align-items: center;

      @media (max-width:$mobile) {
        justify-content: center;
      }
    }

    .quiz-popup__cars & {
      justify-content: center;
    }

    &_half {
      justify-content: start;
      gap: rem(100);

      @media (max-width:$mobile) {
        flex-direction: column-reverse;
        gap: rem(40);
        margin-top: rem(33);
      }
    }
  }

  &__button {

    &:disabled {
      opacity: .3;
    }

    .quiz-form__buttons_first & {
      @media (max-width: em(360)) {
        width: 100%;
      }
    }
  }

  &__input {
    // @include adaptiveValue("width", 327, 215);
    @include adaptiveValue("width", 446, 320);
  }


  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // height: rem(97);
    flex: 1 1 auto;

    .footer__copyright {
      letter-spacing: 1.4px;
    }
  }

  &__footer-wrap {

    a,
    p {
      @include adaptiveValue("font-size", 14, 12);
    }

    @media (min-width:$mobile) {
      display: flex;
      @include adaptiveValue("gap", 466, 66, 1920, 767, 2);
    }
  }

}

.feedback__button {
  &:disabled {
    opacity: .3;
  }
}

.quiz-popup {

  &__planes {}

  &__label {
    font-size: rem(14);
    line-height: 120%;
    color: $hoverColor;
    @include adaptiveValue("margin-top", 27, 31);
    pointer-events: none;
  }

  // height: 100vh;
}

.sub-hidden {
  display: none;
}