@use 'sass:math';

@import 'base/mixins';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');


$fontFamily: "Montserrat";
$fontSize: rem(18);

// Основные цвета 
$mainColor: #ABABAB;
$titleColor: #FFF;
$bodyColor: #1C2024;
$hoverColor: #00F0FF;
$animSpeed: 0.8s;
$aninDelay: 0s;
$transition: 1s cubic-bezier(.05, .5, 0, 1);

$minWidth: 360;

$maxWidth: 1920;

$maxWidthContainer: 1400;

$containerPadding: 40;

$containerWidth: $maxWidthContainer+$containerPadding;

// Брейк-поїнти
$pc: em($containerWidth);
$tablet: em(991.98);
$mobile: em(767.98);
$mobileSmall: em(479.98);

$responsiveType: 1;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Обнуление ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import 'base/null';

// Стили тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================
body {
  background-color: $bodyColor;
  color: $mainColor;
  line-height: 120%;
  opacity: 0;

  &::after {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.50);
    // opacity: 1;
    transition: opacity 0.3s ease 0s;
  }

  // Скролл заблокирован
  .lock & {
    overflow: hidden;
    touch-action: none;
    overscroll-behavior: none;

    &::after {
      opacity: 1;
    }
  }

  // Сайт загружен
  .loaded & {
    opacity: 1;
    transition: opacity 0.6s ease 0s;
  }
}

// Оболонка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  @supports (overflow: clip) {
    overflow: clip;
  }

  // Прижимаем footer
  >main {
    flex: 1 1 auto;
  }

  // Фикс для слайдеров
  >* {
    min-width: 0;
  }
}

@if ($responsiveType==1) {

  // Отзывчивая
  [class*='__container'] {
    @if ($maxWidthContainer>0) {
      max-width: rem($containerWidth);
      margin: 0 auto;
    }

    @if ($containerPadding>0) {
      @if ($maxWidthContainer>0) {
        padding: 0 rem(math.div($containerPadding, 2));
      }

      @else {
        @include adaptiveValue('padding-left', math.div($containerPadding, 2), 20);
        @include adaptiveValue('padding-right', math.div($containerPadding, 2), 20);
      }
    }
  }

  [class*="__container_big"] {
    max-width: rem(1920);
    margin: 0 auto;
    padding: 0;
  }
}

@else {

  // Брейк-поїнтами
  [class*='__container'] {
    margin: 0 auto;

    @if ($maxWidthContainer>0) {
      max-width: rem($containerWidth);
    }

    @else {
      @if ($containerPadding>0) {
        padding: 0 rem(math.div($containerPadding, 2));
      }
    }

    @media (max-width: $pc) {
      max-width: rem(970);
    }

    @media (max-width: $tablet) {
      max-width: rem(750);
    }

    @media (max-width: $mobile) {
      max-width: none;

      @if ($containerPadding>0 and $maxWidthContainer>0) {
        padding: 0 rem(math.div($containerPadding, 2));
      }
    }
  }
}

@import 'base';

@import 'common';

// @import "animation";

// Подключение стилей отдельных блоков
@import "header";
@import "intro";
@import "about-us";
@import "devices";
@import "types";
@import "equipment";
@import "anonymously";
@import "prices";
@import "how-work";
@import "calculate";
@import "help-you";
@import "faq";
@import "feedback";
@import "contacts";

@import "quiz-form";
@import "footer";

// Подключение стилей отдельных страниц